@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


html {
    font-family: "Inter";
    background-color: #DAC6AE;
}

body {
    margin: 0;
    padding-top: 100px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.todolist {
    padding-left: 30px;
}

.createtodo {
    background-color: white;
    width: 70%;
    max-width: 900px;
    margin: 60px auto 20px auto; 
    padding: 50px;
    border-radius: 25px;
    position: relative; 
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.titleoftodo {
    background-color: #ae997a;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: -65px;
}

.tasktitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasktitle input {
    padding: 12px 20px;     
    box-sizing: border-box; 
    background-color: #EEEEEE;  
}

.tasktitle input[type=text]  {
    float: right;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 10px;
    font-family: "Inter";
    font-size: 17px;
    width: 551px;
    height: 50px;
    border-radius: 30px;
}

.assignedto {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.assignedto input {
    padding: 12px 20px;     
    box-sizing: border-box;   
    background-color: #EEEEEE;
}

.assignedto input[type=text]  {
    float: right;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 10px;
    font-family: "Inter";
    font-size: 17px;
    width: 551px;
    height: 50px;
    border-radius: 30px;
}

.createdby {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.createdby input {
    padding: 12px 20px;     
    box-sizing: border-box;   
    background-color: #EEEEEE;
}

.createdby input[type=text]  {
    float: right;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 10px;
    font-family: "Inter";
    font-size: 17px;
    width: 551px;
    height: 50px;
    border-radius: 30px;
}

.taskdetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskdetails input {
    padding: 12px 20px;     
    box-sizing: border-box;   
    background-color: #EEEEEE;
}

.taskdetails input[type=text]  {
    float: right;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 10px;
    font-family: "Inter";
    font-size: 17px;
    width: 551px;
    height: 50px;
    border-radius: 30px;
}




.search {
    color: white;
    font-family: "Inter";
    background-color: #694E2E;
    width: 195.05px;
    height: 50px;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    margin-right: 16px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none; 
}

#buttonID {
	display: flex;
	align-items: center;
	justify-content: center;
}

