<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Event</title>
    <link rel="stylesheet" href="/static/addevent_design.css">
</head>

<body>
    <div class="header">
        <h1 class="todolist">Task Manager</h1>
    </div>

    <form class="createtodo" method="POST">
        <h2 class="titleoftodo">Create Event</h2>

        <div class="eventtitle">
            <h2>Event Title:</h2>
            <input class="field" type="text" placeholder="Title..." name="title">
        </div>

        <div class="date">
            <h2>Date:</h2>
            <input class="field" type="date" name="date">
        </div>

        <div class="time">
            <h2>Start time:</h2>
            <input class="field" type="time" name="startTime">
        </div>
		
		<div class="time">
            <h2>End time:</h2>
            <input class="field" type="time" name="endTime">
        </div>

        <div class="eventdetails">
            <h2>Event Details:</h2>
            <input class="field" type="text" placeholder="Description..." name="eventDetails">
        </div>
		
		<div id="buttonID">
			<button class="search" type="submit">Create!</button>
		</div>

    </form>

</body>