<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/static/homepage_design.css">
</head>

<body>
    <div class="header">
        <h1 class="todolist">To Do List</h1>
		
		<div class="header-nav">
			<a href={{ url_for("createtask") }}>
				<button class="button">Create Task</button>
			</a>
			<a href={{ url_for("display_calendar") }}>
				<button class="button">Calendar</button>
			</a>
		</div>
    </div>

    <h1 class="welcome">Welcome!</h1>
    <h2 class="started">Let's get started.</h2>

    <form class="navigation" method="POST">
        <input type="text" placeholder="Search NAME or type ALL" name="search">
        <button class="search" type="submit">Search</button>
    </form>


</body>
</html>
